body {
    background-color: #F0F0F0;
    color: #000;
    //font: 300
    //100.1%
    //"Helvetica Neue", Helvetica, "Arial Unicode MS", Arial, sans-serif;
    font-family: "Lucidia Console", Monaco, monospace;
    //position: relative;
    overflow: hidden;
}

a {
    color: #00f;
}

/* Styling for the canvas elements, from most to least specific

    The svg div (where all the drawing actually goes on), is styled
    at the end of the onload() function in index.html
*/

svg {
    z-index: 2;
}

#canvas {
    height: 100%;
    width: 100%;
    background-color: rgba(245, 245, 245, 0.87);
    position: relative;
    margin: 0;
    overflow: auto;
}

#canvas-holder {
    position:relative;
    z-index: 1;
    height: 650px;
    width: 95%;
    margin: auto;
    margin-top: 0px;
    /* If overflow is set to visible then the infobox will
        be visible in its resting states
    */
    overflow: hidden;
}

/*
    Styling for the sliding info box, again from most to least specific
*/

.info_heading {
    font-size: 20px;
    text-align: center;
}
.info_img {
    width: 95%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.image_subtext {
    text-align:center;
    width: 100%;
    font-size: 13px;
    display: block;
    margin-top: 5px;
}

.info {
    padding: 10px;
    padding-top: 5px;
    overflow: hidden;
}

#infobox_container {
    position: absolute;
    z-index: 3;
    height: auto;
    max-height: 90%;
    width: 95%;
    background-color: rgba(255, 255, 255, 0.97);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin: auto;
    overflow-y: auto;
}

#slider_container {
    position: absolute;
    height: 100%;
    width: 400px;
    top: 0;
    right: -400px;
    fill-opacity: 0;
    z-index: 3;
}
/*
    Miscellaneous styling
*/

.shadowed {
    box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.2);
}
.reverse_shadowed {
    box-shadow: 0px -8px 8px 0px rgba(0, 0, 0, 0.15);
}

#titlebar {
    width: 95%;
    font-size: 30px;
    text-align: center;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 0px;
    padding-bottom: 20px;
    padding-top: 10px;
    text-align: center;
    background-color: rgba(245, 245, 245, .87);
}

.mini_code {
    width: 90%;
    margin: auto;
    padding: 5px;
    word-wrap: break-word;
    font-family: Courier, serif;
    background-color: #FFF8DC;
    fill: #FFF8DC;
}
#vigenere {
    width: 50%;
    height: auto;
}

#mini_info {
    font-size: .7em;
    position: absolute;
    bottom: 0px;
    right: 0px;
    text-align: right;
    background-color: rgba(255, 255, 255, 1);
}
#background {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    word-wrap: break-word;
    overflow-y: hidden;
    color: #AAA;
    z-index: -1;
}
